<!DOCTYPE html>
<html lang="en" ng-app="AppInmobiliaria" id="AppInmobiliaria">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="Estilos.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="shortcut icon" href="form.ico" type="image/x-icon" />
    <title>Registro Inmuebles</title>

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js" type="text/javascript"></script>
    <script src="AngularController.js" type="text/javascript"></script>
</head>

<body ng-controller="ubicacion">
    <div class="container-fluid">
        <div class="Section2">
            <img src="Logo.png">
            <legend><br>Registro Inmuebles</legend>
            <form action="#" method="post">
                <div class="row">
                    <div class="col">
                        <label for="nombre" class="form-label">Nombre:</label>
                        <input id="nombre" type="text" name="nombre" ng-model="formData.nombre" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label for="imagen" class="form-label">Imagen</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label for="tipo" class="form-label">Tipo: </label>
                        <input id="tipo" type="text" name="tipo" ng-model="formData.tipo" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label for="ubicacion" class="form-label">Ubicación: </label>
                        <br>
                        <!-- <input id="ubicacion" type="text" name="ubicacion" ng-model="formData.ubicacion"> -->
                        <select id="ubicacion" name="ubicacion" ng-model="formData.ubicacion"
                            ng-init="consultarUbicaciones('ubicacion');" class="form-select">
                            <option value="">(Seleccione)</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <button type="button" id="btnRegistrar" ng-click="crearInmueble();" class="btn btn-primary">Registrarse</button>
                        <button type="button" id="btnCancelar" class="btn btn-danger" onclick="location.reload();">Cancelar</button>

                    </div>
                </div>



            </form>
        </div>

    </div>

</body>

</html>