

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha512-U6K1YLIFUWcvuw5ucmMtT9HH4t0uz3M366qrF5y4vnyH6dgDzndlcGvH/Lz5k8NFh80SN95aJ5rqGZEdaQZ7ZQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/additional-methods.min.js"type="text/javascript"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js" type="text/javascript"></script>


    <div class="container-fluid">
        <div class="Section2 col-3 me-auto ms-auto">
            <img src="assets/Logo.png">
            <legend><br>Registrar Ubicación</legend>
            <form action="#" method="post" class="container">

                <div class="row m-1">
                    <div class="col">
                        <label for="ciudad" class="form-label">Ciudad:</label>
                        <input id="ciudad" type="text" name="ciudad" class="form-control">
                    </div>
                </div>

                <div class="row m-1">
                    <div class="col">
                        <label for="departamento" class="form-label">Departamento: </label>
                        <input id="departamento" type="text" name="departamento" class="form-control">
                    </div>
                </div>


                <div class="row m-1 gx-1">
                    <div class="col">
                        <button type="button" id="btnRegistrar" class="btn btn-primary m-1" (click)="registrarUbicacion();"><i class="fas fa-save"></i> Registrar</button>
                        <button type="button" id="btnCancelar" class="btn btn-danger m-1" (click)="reloadCurrentPage();"><i class="fas fa-window-close"></i> Cancelar</button>
                    </div>
                </div>

            </form>


        </div>
    </div>
