<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"
    integrity="sha512-U6K1YLIFUWcvuw5ucmMtT9HH4t0uz3M366qrF5y4vnyH6dgDzndlcGvH/Lz5k8NFh80SN95aJ5rqGZEdaQZ7ZQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"
    type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/additional-methods.min.js"
    type="text/javascript"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js" type="text/javascript"></script>


<div class="container-fluid">
    <div class="Section2 col-3 me-auto ms-auto">
        <img src="assets/Logo.png">
        <legend><br>Consultar inmueble</legend>
        <form action="#" method="post" class="container">
            <div class="row m-1">
                <div class="col">
                    <label for="nombre" class="form-label">Nombre: </label>
                    <input id="nombre" type="text" name="nombre" class="form-control">
                </div>
                <div class="col">
                    <label for="tipo" class="form-label">Tipo:</label>
                    <input id="tipo" type="text" name="tipo" class="form-control">
                </div>
                <div class="col">
                    <label for="ubicacion" class="form-label">Ubicacion:</label>
                    <select id="ubicacion" name="ubicacion"  class="form-select" *ngFor="let ubicacion of listaUbicaciones">
                            <option value="{{ubicacion._id}}">{{ubicacion.departamento}} - {{ubicacion.ciudad}}</option>
                    </select>
                </div>
                <div class="col">
                    <label for="precio" class="form-label">Precio:</label>
                    <input id="precio" type="text" name="precio" class="form-control">
                </div>
            </div>
        </form>
    </div>


</div>